// Place all the styles related to the authentications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer {
  border-top:1px solid #ccc;
  background-color: #F5F5F5;
  padding:20px 0;
  margin-top:40px;
}