// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
.profile {
  margin-top:20px;

  .picture {
    width:200px;
    display:inline-block;
    overflow:hidden;
    @include border-radius(4px);
  }
  .info {
    display:inline-block;
    vertical-align: top;
  }
}

.user-statistics {
  @include box-shadow(rgba(#000, .4) 0 1px 2px inset);
  margin-top:20px;
  font-size:0;
  background-color: #EEEEEE;
  border-top: 1px solid #CCCCCC;
  padding:30px 0 0;
  ol {
    font-size:14px;
    display:inline-block;
    width:300px;
    margin-left:20px;
    &:first-child {
      margin:0;
    }
    li {
      margin-bottom:10px;
    }
    p {
      display:inline-block;
    }
  }
}