// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
.profile {
  margin-top:20px;

  .picture {
    width:200px;
    display:inline-block;
    overflow:hidden;
    @include border-radius(4px);
  }
  .info {
    margin-left:20px;
    h2 {
      margin-top:0;
    }
    display:inline-block;
    vertical-align: top;
  }
  #last_checkin_place {
    width:500px;
    height:120px;
    @include border-radius(4px);
  }
}

.user-statistics {
  @include box-shadow(rgba(#000, .4) 0 1px 2px inset);
  margin-top:20px;
  font-size:0;
  background-color: #EEEEEE;
  border-top: 1px solid #CCCCCC;
  padding:30px 0 0;
  .top10 {
    h4 {
      @include box-shadow(rgba(#000, .4) 1px 1px 2px);
      background-color: #FFFFFF;
      margin: 0;
      padding: 10px;
      @include border-radius(4px);
    }
    display:inline-block;
    margin-left:20px;
    width:300px;
    &.bf {
      margin:0;
    }
    .info {
      display:inline-block;
      vertical-align:top;
      margin-top:5px;
      p {
        display:block;
        margin:0;
      }
    }
  }
  ol {
    font-size:14px;
    margin:0;
    li {
      background-color:#fff;
      margin-top:10px;
      @include box-shadow(rgba(#000, .4) 1px 1px 2px);
      @include border-radius(4px);
      overflow:hidden;
      .position {
        background-color: #3B5B99;
        color: #FFFFFF;
        display: inline-block;
        font-size: 26px;
        height: 50px;
        line-height: 47px;
        text-align: center;
        vertical-align: middle;
        width: 34px;
        margin-right:-4px;
        @include text-shadow(rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.075) 0 0 30px);
      }
    }
    p {
      display:inline-block;
    }
  }
  #line-chart {
    margin-top:30px;
  }
}